<div class="body">



  <input type="checkbox"  class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <div class="main-content-wrapper">
      <a>


        <div class="dropdown">
          <button id="dropbtn" class="dropbtn">Jahrgang</button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>


        <input type="text" id="textfield">
      </a>



    </div>
  </div>



</div>
