<div *ngIf="userService.user" class="wrapper">
  <div class="bar">
    <div class="title">
      <img src="assets/login/htlLogo.svg" alt="Logo" width="50" height="50">
      <span>Schulbuchaktion</span>
    </div>

    <div *ngFor="let item of navItems">
      <div *ngIf="item.name | showMenuItem: userService.user.role.id.toString()">
        <a routerLink="{{item.path}}" class="nav-menu-item">
          {{item.text}}
        </a>
      </div>
    </div>

    <!--<a routerLink="/bestelluebersicht">Bestellungen</a>
    <a routerLink="/klassenuebersicht">Klassen</a>
    <a routerLink="/gelduebersicht">Geld</a>
    <a routerLink="/import">Import</a>
    <a routerLink="/manageusers">User</a>-->
    <div class="logout">
      <span>{{userService.user.shortName}}</span>
      <button (click)="userService.logout()">Logout</button>
    </div>
  </div>

</div>
