<div *ngIf="userService.user" class="wrapper">
  <div class="bar">
    <div class="title">
      <span>Schulbuchaktion</span>
    </div>
    <a routerLink="/bestelluebersicht">Bestellungen</a>
    <a [routerLink]="isDisabledClass?null:'/klassenuebersicht'">Klassen</a>
    <a [routerLink]="isDisabledMoney?null:'/gelduebersicht'">Geld</a>
    <a routerLink="/import">Import</a>
    <div class="logout">
      <span>{{userService.user.shortName}}</span>
      <button (click)="userService.logout()">Logout</button>
    </div>
  </div>
</div>

