.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bar {
  margin: 5px 5px 5px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #232323;
  border-radius: 10px;
  width: 99vw;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title span{
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}


.bar a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 17px;
  display: flex;
  justify-content: center;
}


.bar a:hover {
  text-align: left;
  background-color: #417bed;
  text-decoration: underline;
  border-radius: 10px;

}
.bar a:focus {
  color: #417bed; /* gewünschte Textfarbe */
  text-decoration: underline; /* Unterstrich hinzufügen */
  font-weight: bold;
  text-decoration-thickness: 2px; /* gewünschte Dicke des Unterstrichs */
  text-underline-offset: 6px; /* Abstand des Unterstrichs vom Text */
}

.bar a:focus:hover{
  color: white;
}

a.active span {
  color: #9fbcdc;
  border-bottom: 4px solid #9fbcdc;
}
.logout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout span {
  color: white;
  margin-right: 10px;
}
.dx-button {

  color: black;
}

