<div *ngIf="userService.user" class="wrapper">
  <div class="bar">
    <div class="title">
      <span>Schulbuchaktion</span>
    </div>

    <a routerLink="/bestelluebersicht">Bestellungen</a>
    <div *ngIf=false>
    <a routerLink="/klassenuebersicht">Klassen</a>
    </div>
    <div *ngIf=true>
    <a routerLink="/gelduebersicht">Geld</a>
    </div>
    <a routerLink="/import">Import</a>
    <div class="logout">
      <span>{{userService.user.shortName}}</span>
      <button (click)="userService.logout()">Logout</button>
    </div>
  </div>

</div>
