<img class="wave" src="../../assets/login/wave.png" xmlns="http://www.w3.org/1999/html">
<div class="container">
  <div class="img">
    <img src="../../assets/login/books.svg">
  </div>
  <div class="login-content">
    <div class="form">
      <img src="../../assets/login/htlLogo.svg">
      <h1 class="title">Welcome</h1>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>

        <div class="div">
          <input [(ngModel)]="email" type="text" class="input" placeholder="Email">
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <input [(ngModel)]="password" type="password" class="input" placeholder="Password">
        </div>
      </div>
      <div class="div" align="center">
        <button (click)="login()">Login</button>

      </div>
    </div>
  </div>
</div>
