<img class="wave" src="../../assets/login/wave.png">
<div class="container">
  <div class="img">
    <img src="../../assets/login/books.svg">
  </div>
  <div class="login-content">
    <div class="form">
      <img src="../../assets/login/htlLogo.svg">
      <h2 class="title">Welcome</h2>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
            <input [(ngModel)]="email" type="email" class="input" placeholder="E-Mail">
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <input [(ngModel)]="password" type="password" class="input" placeholder="Password">
        </div>
      </div>
      <input type="submit" class="btn" value="Login" (click)="login()">
    </div>
  </div>
</div>
