
<h1>Klassen & SchuelerInnen:</h1>

<div class="dropdown"><select>
  <option>--Klassen--</option>
  <option>3AHITN</option>
  <option>4AHITN</option>
  <option>5AHITN</option>
  <option>2AHITN</option>

</select>

  <div class="select_arrow"></div>
</div>

<p>
  Ausgewählte Klasse: {{ selectedClass }}
</p>

<dx-data-grid
  [dataSource]="classes"
  [columns]="['JG', 'Klasse', 'SuS ', 'HEL', 'HME', 'SuSSs']"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [allowColumnReordering]="true">

</dx-data-grid>

