<h1>Klassen & SchülerInnen:</h1>

<div class="dropdown">
  <select [(ngModel)]="selectedClass" (change)="selectClass()">
    <option value="">--Klassen--</option>
    <option *ngFor="let item of items" [value]="item.field">{{ item.field }}</option>
  </select>
  <div class="select_arrow"></div>
</div>

<p>
  Ausgewählte Klasse: {{ selectedClass }}
</p>

<dx-data-grid
  [dataSource]="filteredClasses"
  [columns]="['JG', 'Klasse', 'SuS', 'HEL', 'HME', 'Suss']"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [allowColumnReordering]="true">
</dx-data-grid>


<!--
<dx-data-grid
  [dataSource]="classes"
  [columns]="['JG', 'Klasse', 'SuS', 'HEL', 'HME', 'Suss']"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [allowColumnReordering]="true">

</dx-data-grid> -->

