<h1>Klassen & SchuelerInnen:</h1>

<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#" *ngFor="let item of items" (click)="selectClass(item.field)">{{ item.field }}</a>
  </div>
</div>

<p>
  Ausgewählte Klasse: {{ selectedClass }}
</p>

<dx-data-grid
  [dataSource]="classes"
  [columns]="['JG', 'Klasse', 'SuS ඞ', 'HEL', 'HME', 'SuS ඞ']"
  [showBorders]="true"
  [allowColumnResizing]="true"
  [allowColumnReordering]="true">
</dx-data-grid>
