<h1>Bestellübersicht</h1>
<dx-data-grid
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    [columnHidingEnabled]="true"
    [columnAutoWidth]="true"
    [dataSource]="dataSource">
<dxo-column-chooser [enabled]="true"></dxo-column-chooser>
<dxi-column dataField="book.subject.name" caption="Fach" dataType="string"></dxi-column>
<dxi-column dataField="book.shortTitle" caption="Buchtitel" dataType="string"></dxi-column>
<dxi-column dataField="ebook" dataType="boolean"></dxi-column>
<dxi-column dataField="schoolClass.name" caption="Klasse" dataType="string"></dxi-column>
</dx-data-grid>
