<h1>Bestellübersicht</h1>
<dx-data-grid [allowColumnResizing]="true" [allowColumnReordering]="true" [columnHidingEnabled]="true"
  [columnAutoWidth]="true" [dataSource]="dataSource" (onSelectionChanged)="selectionChanged($event)">
  <dxo-column-chooser [enabled]="true"></dxo-column-chooser>

  <dxi-column dataField="book.subject.name" caption="Fach" dataType="string">
  </dxi-column>

  <dxi-column dataField="book.shortTitle" caption="Buchtitel" dataType="string"></dxi-column>
  <dxi-column dataField="ebook" dataType="boolean"></dxi-column>
  <dxi-column dataField="schoolClass.name" caption="Klasse" dataType="string"></dxi-column>

  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true"></dxo-pager>
  <dxo-editing mode="cell" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true"></dxo-editing>
  <dxo-selection mode="multiple"></dxo-selection>

  <dxo-toolbar>
    <dxi-item name="addRowButton" showText="always"></dxi-item>
    <dxi-item location="after">
      <dx-button (onClick)="deleteRecords()" [disabled]="!selectedItemKeys.length" icon="trash"
        text="Lösche ausgewählte Einträge"></dx-button>
    </dxi-item>
  </dxo-toolbar>
</dx-data-grid>

