<h1>Geldübersicht</h1>
<dx-data-grid
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    [columnHidingEnabled]="true"
    [columnAutoWidth]="true"
    [dataSource]="dataSource">
<dxo-column-chooser [enabled]="true"></dxo-column-chooser>
<dxi-column dataField="year" caption="Jahr" dataType="number"></dxi-column>
<dxi-column dataField="priceInclusiveEbook" caption="Preis inklusive Ebook" dataType="number"></dxi-column>
<dxi-column dataField="priceEbook" caption="Preis Ebook" dataType="number"></dxi-column>
<dxi-column dataField="priceEbookPlus" caption="Preis Ebook Plus" dataType="number"></dxi-column>
<dxi-column dataField="book.shortTitle" caption="Titel" dataType="string"></dxi-column>
</dx-data-grid>

